[2020-02-22 07:45] rajatkb opened #1 "Design Suggestion for Notifier-Service"
Suggest a tech stack and a possible solution of how we can build a notification service based on the data collected.

#### Requirement
* The end user application should be able to subscribe on the end point given by the service
* Should also be able to cater to browser service worker hooks for notification purpose
* Try to avoid user authentication for this service. We are not focusing on user tra

[2020-02-22 07:49] rajatkb opened #2 "[Feat.] add new Scrapper for Guide2Reasearch"
The current scrapper is collecting the information from wikicfp. One more such large aggregator of information is [Guide2Research](http://www.guide2research.com/). They also provide journal impact factor and other information relevant to researchers. Follow the guidelines in the Scrapper-Service to add your own service.

[2020-02-22 09:20] rajatkb opened #3 "Design suggestion for Search-Service"
The search service needs to cater to user searching information over the data stored by the Scrapper-Service.
** REQUIREMENTS **
* Should be able to expose simple search API over Elastic Search
* Would be great if the solution could involve something that minimizes the data to be stored and indexed in Elastic Search but still give relevant results.

[2020-02-22 09:45] rajatkb opened #4 "[Base] design suggestion for [Angular] front end application"
Start the angular front end application project base. Start with creating new folder in the root/Application . Submit the PR request with your own branch commit as suggested in the contributing.md.

**REQUIREMENT**
* Create a basic clean UI (Material compliant would be a plus)
* Top: Search bar (Test with free rest endpoints)
* Card view for all conferences
* Single page event view for selection r

[2020-02-22 09:55] rajatkb opened #5 "[Improve ] introduce asyncio or thread parallelism in WikiCFPScrapper.py"
The current implementation is made keeping in mind future prospect of parallelism. Can make the implementation leverage Python threading for faster processing.

[2020-02-22 17:26] rajatkb opened #6 "[Improve ] introduce multiprocessing in main.py for Scrapper-Service"
The current implementation works in a sequential manner and is capable of using only one core of a multicore system. Something that should be leveraged.
**REQUIREMENT**
* The Scrapper though may or may not do it's processed using threads or async should not affect launching the various Scrappers using MultiProcessing

[2020-02-23 04:19] rajatkb opened #7 "[Docs] update Scrapper-Service Readme.md with Datamodel Schema used."
The data model schemas are missing from the readme. This needs to be included in order to help others work with their mongo instances and query the data.

**REQUIREMENTS**
1. Readme doc inside the Scrapper-Service , not the root one should contain a schema of the mongodb data

2. make any necessary update to the readme that will help people understand about what is indexed, and how the insertion i

[2020-02-23 14:10] rajatkb opened #8 "[Bug] Scrapper service when run on windows machine stop after running few hours"
The service is written in Python so that should be taken in consideration.
* The process after a few hours of execution stop printing logs. Although by that time a huge amount of data is collected at MongoDB so updates are frequent.
* So without logs and any new insertion update from MongoDB it's difficult to detect what is going wrong.
* The process, however, does not crashes evident from task ma

[2020-02-23 15:23] rajatkb opened #9 "Build ChekPoint system for the scrapper."
In case of a sudden failure and crash, we don't want the process to restart and start scrapping from the beggining.

** REQUIREMENT **
1 . Add method of Database class inside db.py to store check point information
2. Let user implementing plugin decide how to use the checkpointing system.

Note: Database class uses pymongo and contains no data that is modified after creation of object. So it's saf

[2020-02-24 06:30] rajatkb opened #10 "[Improve] fix mongo indexing and update operation."
The current implementation indexes on url (unique) and deadline (sorting). But since multiple scrappers will be writing using the same interface how can we ensure only the latest updates of particular conference is put in the db (overwriting allowed). But overwriting is not possible with unique index and upsert:True argument. The implementation needs changing given that we avoid bringing in data t

[2020-02-24 06:33] rajatkb opened #11 "Introduce unit test for Scrapper"
There are a few conventions that the plugin developers need to follow. These should be reinforced using a unit test.

[2020-02-28 13:36] vipuldcoder commented on #7
I am interested with the issue.

[2020-02-28 13:37] vipuldcoder commented on #4
I am interested with the issue.

[2020-02-28 18:54] agnes-sharan commented on #9
Hi, I'd like to work on this issue!

[2020-02-28 23:43] #1 closed

[2020-02-28 23:44] rajatkb commented on #1
To be handled by mentor and admin team.

[2020-02-29 06:49] rajatkb opened #12 "[Improve] change _id parameter for Conference model"
The current value of _id is kept as the url of conference itself since the url identifies it uniquely. But the _id if kept as string will invoke a performance load. A better way of generating unique integers is required which will be base on string that are extracted. This is important since the _id is used for updating existing entries and has to be created form the url of a conference.

**REQUIR

[2020-02-29 07:10] vipuldcoder commented on #12
I am interested with the issue.

[2020-02-29 07:13] vipuldcoder commented on #10
I am interested with the issue.

[2020-02-29 07:14] vipuldcoder commented on #2
I am interested with the issue.

[2020-02-29 07:14] vipuldcoder commented on #4
I am interested with the issue.

[2020-02-29 07:18] vipuldcoder commented on #6
I am interested with the issue.

[2020-02-29 07:18] vipuldcoder commented on #3
I am interested with the issue.

[2020-02-29 07:19] vipuldcoder commented on #11
I am interested with the issue.

[2020-02-29 07:19] vipuldcoder commented on #8
I am interested with the issue.

[2020-02-29 07:19] vipuldcoder commented on #5
I am interested with the issue.

[2020-02-29 07:32] abhishekgupta368 commented on #12
I am interested to solve this issue.

[2020-02-29 09:25] rajatkb commented on #12
Assigning to @abhishekgupta368 . @vipuldcoder  you have sepparate issue assigned to you.

[2020-02-29 09:26] rajatkb commented on #11
@vipuldcoder  Not marked under gssoc. Will be enabled by me.

[2020-02-29 09:30] rajatkb commented on #8
The issue was resolved last night by me. Closing it. It was a network bug in one of my code for `requests.get()` not worth investing time from the rest of team.

[2020-02-29 09:32] rajatkb commented on #8
**Resolution**
* add timeout parameter in `requests.get()`
* The default makes it wait idefinitely i.e when network drops the connection never times out.

[2020-02-29 09:32] #8 closed

[2020-02-29 11:17] Kajol-Kumari commented on #4
@rajatkb , If no one is working on this issue, i would like to go with this one.

[2020-02-29 11:54] rajatkb opened #13 "[Improve] refactor app.py"
**Requirement**
* Clean up the app.py bu moving argument parsing related code to a separate class `arguments.py -> Arguments` in utility
* Move the configuration parsing related code to a sepparate class `configuration.py -> Configuration`
  in utility.

**Where to look @ **
* app.py

**Code change located**
* app.py
* utlity module

[2020-02-29 11:58] rajatkb commented on #4
@Kajol-Kumari  @vipuldcoder  and Shubhamdeep are to discuss on this and Shubhamdeep will be having a meet with me regarding the frontend design. So I think if we can discuss and break the task then three of you can tackle this. For now let me just have it assigned to the three of you. I will have a sepparate issue for the subtask.

[2020-02-29 11:58] rajatkb commented on #4
Assigning to @Kajol-Kumari  and @vipuldcoder

[2020-02-29 13:36] Kajol-Kumari commented on #4
okay @rajatkb In the mean time i will be making a basic angular structure using cli and will then add the requirements mentioned in the issue one by one.

[2020-03-01 02:51] rajatkb opened #15 "[Feat.] insert to mongo db on having greater datestamp for deadline, trigger a rest call for same"
The Database class currently does not checks for the deadline constraint. It may update the deadline of an mongo document from any of the scrapper plugin , and may lead to inconsistent or old date. Insertion should be avoided in such cases.

**REQUIREMENT**
* Figure out a a way to do the deadline date check.
* Achieve this without doing a (search -> bring data to application memory -> insert)
* Do

[2020-03-01 04:07] padmaja-nadkarni commented on #13
Can I take up this issue? How do I know what is the deadline?

[2020-03-01 04:24] rajatkb commented on #13
Assigning it to @padmaja-nadkarni , deadlines are not yet set. A buffer time for going through the project is needed for everyone.

[2020-03-01 05:13] #4 closed

[2020-03-01 06:48] rajatkb opened #16 "[Feat.] landing page design for user application"
**REQUIREMENT**
1. Landing page consisting of  search barc / categories
2. Some way to navigate to some list of Conference (may be clicking on search bar should open a top conference list with search bar on top)

[2020-03-01 06:51] rajatkb opened #17 "[Feat.] landing page implementation"
#16 Suggests a certain design mockup.
The mockup needs to be put into an angular application.

[2020-03-01 07:16] abhishekgupta368 commented on #12
I solve it

[2020-03-01 09:12] rajatkb opened #20 "[Docs] improve the Contributing.md with information about how to do PRs"
Many new beginners are facing trouble regarding git PRs. It would be great to have a section for the same in the Contributing.md.

[2020-03-01 09:14] Kajol-Kumari commented on #20
I would like to work on this.

[2020-03-01 09:30] rajatkb commented on #20
Assigning to @Kajol-Kumari

[2020-03-01 13:54] dwvicy commented on #16
I'd like to work on this issue!

[2020-03-01 15:17] JanhaviDadhania commented on #17
Hello sir. I am Janhavi GSSoC participant. If I understand the issue correctly then it is implementation of mockup. I would like to take this up once the basic design is ready.

[2020-03-01 15:26] rajatkb commented on #17
@JanhaviDadhania  Can you ping me on slack so that we can discuss this.

[2020-03-01 16:43] rajatkb opened #22 "[Feat.] CLI for getting stats about scrappers from Scrapper-Service"
Build lightweight CLI client application that can get statistics information dumped by the scrapper service.

**REQUIREMENTS**
* A client.py application that can work as a cli client to read the data from the data dumped as checkpoint by the scrapper on demand.

[2020-03-01 17:03] vipuldcoder commented on #15
I am interested to work with the issue.

[2020-03-01 17:12] abhishekgupta368 commented on #6
I would like to contribute.

[2020-03-01 20:47] TheDudeThatCode commented on #16
@rajatkb  can you assign this to me as you know I am working on it.

[2020-03-01 20:54] rajatkb commented on #16
Assigning to @TheDudeThatCode  as discussed over slack, @dwvicy slack me, so that we can work on helping you to pick some other issue.

[2020-03-02 14:10] Angelvicks commented on #2
Hello, please I am interested in this issue

[2020-03-03 04:22] rajatkb commented on #20
@Kajol-Kumari  updates merged

[2020-03-03 04:23] #20 closed

[2020-03-03 10:59] crazykoala666 commented on #2
Really interested in it.

[2020-03-03 11:25] siddhishree commented on #2
Interested in working on this. @rajatkb

[2020-03-04 03:21] rajatkb commented on #16
@TheDudeThatCode  Revert back on the same ASAP.

[2020-03-04 06:56] vvijayalakshmi21 commented on #22
Hi, I would like to work on this issue.

[2020-03-04 09:20] manasakalaga commented on #2
interested in working on this.

[2020-03-04 11:31] rajatkb commented on #2
Assigning to @manasakalaga

[2020-03-04 11:33] rajatkb commented on #22
@vvijayalakshmi21  kindly contact me over slack to discuss about the issue so that we can move forward with it. Also I must mention the issue will be blocked by the implementation of #9 . Since data put by the checkpoints is what the CLI will be looking at.

[2020-03-04 11:43] rajatkb commented on #7
@vipuldcoder  I require and update on this ASAP.

[2020-03-04 12:18] #12 closed

[2020-03-04 12:21] rajatkb commented on #6
@abhishekgupta368  You interested to work on this ?

[2020-03-04 12:24] abhishekgupta368 commented on #6
interested

[2020-03-04 14:44] rajatkb commented on #2
@siddhishree  @crazykoala666  @Angelvicks  , if you guys are still interested in writing a scraper. Then you can suggest another website from where data can be collected. Also contact me over slack for the same. We can then create issues and assign to you guys.

[2020-03-04 14:45] rajatkb commented on #6
Assigning to @abhishekgupta368

[2020-03-04 15:51] rajatkb opened #24 "[Test] add unit test for Conference datamodel"
The Conference data model is to be used by other contributors for stashing data from the scrappers inside the MongoDB. The class should be tested for possible edge cases which can lead to fault data insertion in the database.

**Requirement**
* Unit test for Conference data.
**Extra**
* If possible reorganize the test scripts under single folder, with running instruction.

[2020-03-05 15:04] rajatkb commented on #24
Assigning to @Kajol-Kumari

[2020-03-06 08:49] rajatkb opened #29 "[Improve] add adaptive recuring non blocking timeout handling for Scrapper.py get_page method"
**Requirement**
* The get_page requirement is currently set to static manually set timeout duration. It would great to have an adaptive method get_page , which will not timeout because of few network stability issues but will also not wait indefinitely.

*Where to look*
* Scrapper.py inside commons

*What tp change*
* get_page
 Make sure you don't catch the exception and throw it as the method int

[2020-03-07 05:44] rajatkb commented on #13
@padmaja-nadkarni  I have not heard anything from you on this one. Please do revert back ASAP.

[2020-03-07 06:01] padmaja-nadkarni commented on #13
Please reassign to someone else, extremely busy - sorry about this, I will
pick at later stage.

On Fri, Mar 6, 2020 at 9:44 PM Rajat Kanti Bhattacharjee <
notifications@github.com> wrote:

[2020-03-07 11:07] GeniusLearner commented on #13
I am a newbie and want to contribute to this issue. Please guide me @rajatkb

[2020-03-07 12:58] #24 closed

[2020-03-07 13:08] rajatkb commented on #13
Assigning to  @GeniusLearner  . @padmaja-nadkarni  no issue , that's fine.

[2020-03-07 16:18] vipuldcoder commented on #29
I am interested to work on this issue.

[2020-03-07 16:32] rajatkb commented on #29
@vipuldcoder  address the issue that you already have, without setting up the node and knowing the application you won't be able to tackle this one.

[2020-03-08 08:46] vipuldcoder commented on #7
I am working on it.

[2020-03-08 12:20] manasakalaga opened #33 "[Enhance ]Missing requirements.txt in Scrapper service"
Although the requirements are mentioned in the README, it would be better if there's a requirements.txt file.

[2020-03-08 12:32] rajatkb opened #34 "[Feat.] add getConference() query to Conference model in Notifier-Service"
Currently, there is only one `getOne` dummy async function for retrieving one document. The controller for the Conference model will be requiring few queries which will be contained by the Conference model class.

*REQUIREMENT*
-> add the required methods by following the controller requirements

*Where to look at*
-> controllers/conference.ts
-> models/conference.ts

[2020-03-08 12:46] #33 closed

[2020-03-08 12:51] rajatkb opened #36 "[Improv.] improve schema for current mongodb storage , especially for category indexing"
The category field in the current schema is storing an array of values.

`
"categories" : [
                "semantic web",
                "wireless",
                "web services",
                "internet"
        ],
`

This cannot be indexed as these are not unique across each entry in the database. We have some queries that specifically require to get entries corresponding to one category.

[2020-03-08 12:56] rajatkb opened #37 "[Feat.] implement routines for Conference service in Notifier-service application"
This issue is dependent on #34  , #45 #46   , so if someone intends to address this will have to pick and address that issue first. The issue is also linked with #36 , given it will impact the performance of the response.

*REQUIREMENTS*
-> complete implementation of  conference.ts

*Where to look*
-> src/services/conference.ts

PS: In order to implement them just follow the comments given

[2020-03-09 16:46] rajatkb commented on #9
@agnes-sharan  I have not received any updated about this issue. If you would not be attending to it , please inform me. I will have it reassigned.

[2020-03-11 12:37] sagar-sehgal opened #39 "[Feat.] Adding Continous Integration (CI) Tool"
Since we are following Test Driven Development and some tests have already been added, it would be nice to integrate a Continous Integration tool like Travis CI or Github Actions.

This will help in checking whether a new PR will break the original code or not by running the project and running the tests of the application.

[2020-03-11 12:58] rajatkb commented on #39
Ohh I was working on this today. I thought since it will be required to have travis CI access to the repo which only I and the mentors had. Still if someone wants to tackle the same and make necessary commits + instruction + travils.yml files is welcome. 😃😄

[2020-03-11 13:42] sagar-sehgal opened #40 "[Improve] Update the main README.md"
Some of the improvements that must be added to the main `README.md` file.

- In the **Prerequisites** section, for the various tools like Mongo DB, Angular, etc., please provide a link to the installation instructions for Windows and Linux systems.
- The `/Scrapper-Service` folder has `requirements.txt` file. Please add instructions for creating the virtual environment and installing the `/Scrappe

[2020-03-12 09:41] illseption commented on #39
Hi, I've recently worked on Travis integration and would like to take this up but I might need some guidance

[2020-03-12 14:26] abhishekgupta368 commented on #5
I am Interested, can you assign me.

[2020-03-12 15:47] rajatkb commented on #39
@illseption  Ya sure , I am assigning this to you. Do get in touch with @sagar-sehgal  or me over slack for the same.

[2020-03-12 15:50] rajatkb commented on #9
@agnes-sharan  , removing from asignee for the time being. Incase anybody else can attend to it. If later you can pick it, will reassign the issue 💯

[2020-03-12 15:52] #16 closed

[2020-03-12 16:03] rajatkb commented on #5
@abhishekgupta368  ,  are you comfortable with using Python asyncIO package ? Also have you gone through the WikiCFP scrapper, The issue would require a thorough understanding of these to tackle. Revert back to me on the same.

[2020-03-12 17:36] abhishekgupta368 commented on #5
I think I should leave it then.

[2020-03-13 18:48] #6 closed

[2020-03-13 21:54] maheshschand commented on #40
Interested. Could you please assign this to me @sagar-sehgal ?

[2020-03-14 05:35] rajatkb commented on #37
@Kajol-Kumari  assigning to you. Since you are engaged on this now.

[2020-03-14 05:38] rajatkb commented on #34
@Kajol-Kumari  I am assigning it to you, leave a response for the same.

[2020-03-14 05:50] rajatkb commented on #36
Update: The array fields can be indexed through multi indexing.

[Multikey indexing](https://docs.mongodb.com/manual/indexes/)
[Bounds of multi key indexing](https://docs.mongodb.com/manual/core/index-multikey/)
[ Bounds || ](https://docs.mongodb.com/manual/core/multikey-index-bounds/)

The documents can be indexed on the array fields for now. especially is the search criteria is only one entry fr

[2020-03-14 06:58] poojasrinivass commented on #40
I would like to work on this issue.

[2020-03-14 10:03] abhishekgupta368 commented on #15
I will do it?

[2020-03-14 10:12] rajatkb commented on #15
Assigning it to @abhishekgupta368

[2020-03-14 11:48] rajatkb opened #42 "[Improv.] introduce Jest test framework for unit test in Notifier-Service"
Currently, the Notifier service has the base routes, controller and respective services ready. What we need now is a unit test framework that will test the route + the services response. With good predictable test cases to catch bugs early. For this we need to have the unit test framework setup for the project.

*REQUIREMENT*
* setup jest and package.json test commands properly
* write basic unit

[2020-03-14 13:33] manasakalaga commented on #40
If it is not assigned yet, I would like to take this up.

[2020-03-15 08:36] Kajol-Kumari commented on #34
okay @rajatkb

[2020-03-15 09:56] sagar-sehgal commented on #40
@maheshschand @poojasrinivass @manasakalaga Thank You for showing interest in the issue. I am assigning 1-1 mini task to each one of you. As soon as you solve one of the mini-task, I will assign a new mini-task to you.

@maheshschand :-   In the Prerequisites section, for the various tools like Mongo DB, Angular, etc., please provide a link to the installation instructions for Windows and Linux sy

[2020-03-16 01:22] maheshschand commented on #40
@sagar-sehgal I made necessary changes in README.md. Please look into #44 pull request.

[2020-03-16 01:23] maheshschand commented on #42
Interested. I like to work on this issue. Could you please assign this issue @rajatkb ?

[2020-03-16 05:49] rajatkb commented on #42
@maheshschand  , contact me over Slack. Assigning it to you.

[2020-03-16 19:01] rajatkb commented on #42
@maheshschand Please rever back to me over slack. I am assgning a *deadline* of 19 March, considering the issue. It will be needed on immediate node.

[2020-03-16 19:02] rajatkb commented on #7
@vipuldcoder  I am assigning a deadline of **19 March** on the issue please revert back ASAP and resolve it.

[2020-03-18 14:10] rajatkb opened #45 "[Feat.] add getConferenceFromCategory() query to Conference model in Notifier-Service"
Similar tp #34  , but with extra parameter of conference category provided.

*REQUIREMENTS*
- Write the function for getConferenceFromCategry() ,

*Where to look*
* models/conference.ts

[2020-03-18 14:14] rajatkb opened #46 "[Feat.] add getCategories() query to Conference model in Notifier-Service"
Write the routine for querying the database of all the unique conference categories it contains. Please do run the Scrapper service to collect the data , and take a look at the kind of data you will be dealing with.

*Where to look*
* src/models/conference.ts

[2020-03-18 17:46] illseption commented on #39
Hi, I've opened a PR #47. Please review when convenient, thanks!

[2020-03-18 18:31] divyaprakash-Rx commented on #46
@rajatkb I want to work on this issue.
Please assign it to me.

[2020-03-18 18:32] divyaprakash-Rx commented on #45
@rajatkb I want to work on this issue.
Please assign it to me.

[2020-03-18 18:39] rajatkb commented on #45
Ok Assigning it to you. Contact Kajol over slack she is working on the other function, that is similar to this. Collaborate on this.

[2020-03-18 18:41] divyaprakash-Rx commented on #45
@rajatkb Ok. Please assign.

[2020-03-18 18:42] rajatkb commented on #46
Collaborate with Kajol , contact with her over slack. She is working on one of the functions in this file.

[2020-03-18 18:44] rajatkb commented on #46
The other issue #45 is already assigned, you can collaborate with Kajol for the issue. The issues are on related terms.

[2020-03-18 18:44] divyaprakash-Rx commented on #46
OK

[2020-03-19 11:52] sagar-sehgal opened #48 "[Improve] Remove pkg-resources from requirements.txt"
We need to remove `pkg-resources==0.0.0` from `requirements.txt` file [here](https://github.com/rajatkb/Conference-Notify/blob/9888d5b6a92bb001a8ba13de564622e854e0b391/Scrapper-Service/requirements.txt#L7).

When I tried to install the dependencies, I came across the following error.
[code]

[2020-03-19 13:01] Aman-Codes commented on #48
I am a GSSOC 2020 participant and I would like to work on this issue. Please assign me this issue @sagar-sehgal

[2020-03-19 15:46] sagar-sehgal commented on #48
@Aman-Codes assigned

[2020-03-19 16:43] sagar-sehgal commented on #48
@Aman-Codes Since this is a small issue, I request you to please update it fast. Maybe by tomorrow. When can I expect this from you?

[2020-03-19 17:10] Aman-Codes commented on #48
@sagar-sehgal  Done Sir

[2020-03-20 12:55] rajatkb opened #53 "[Feat.] add utility class responsible for provided in memory cache"
For large repeated queries whose results are not frequently changing, it's better to have them cached, than have them repeatedly evaluated. We can use [node-cache](https://github.com/node-cache/node-cache) , as a lightweight solution for caching.

*REQUIREMENT*
- Implement class FastCache in services , which will use node-cache internally and facilitate usage

*Where to look*
- src/services/ *impl

[2020-03-20 14:07] #48 closed

[2020-03-20 16:26] Aman-Codes opened #54 "Add ISSUE_TEMPLATE"
@rajatkb @sagar-sehgal I am a GSSOC participant and I would like to add an issue template folder with pull request template and a new issue template.
![updated pull request](https://user-images.githubusercontent.com/54680709/77184265-935b7e00-6af5-11ea-8177-376f9f15bac7.PNG)

[2020-03-20 16:51] rajatkb commented on #54
This format looks great. Awaiting on Sagar's confirmation.

[2020-03-22 06:46] rajatkb opened #57 "[Improv.] add a configuration validator in server.ts"
In the project section Notifier Service and Search-Service, the environment variables are loaded using .env files using .env package. It would be great to have a validator in server.ts file which can validate that the variables are all present or not.

*REQUIREMENT*
- [ ] use node validator package for validating entries of environments are present or not
- [ ] the code should reside in server.ts

[2020-03-22 07:06] divyaprakash-Rx commented on #37
I want to work on this issue. Please assign it to me.

[2020-03-22 07:49] rajatkb commented on #37
@divyaprakash-Rx  assigned , have a PR ready by tomorrow . It can be a draft PR to show some initial progress.

[2020-03-22 08:24] divyaprakash-Rx commented on #37
OK

[2020-03-22 08:57] rajatkb commented on #42
@maheshschand  you can skip over the test for now. include the jest framework. and we will look into the test later. for just include the jest framework write a dummy test. Submit PR.

[2020-03-22 10:19] #34 closed

[2020-03-22 10:19] #45 closed

[2020-03-22 10:19] #46 closed

[2020-03-22 10:44] #10 closed

[2020-03-22 13:31] rajatkb opened #60 "[Improv.] feature suggestion for the Service"
Currently, our application in development have been plan to have these features.
1. Single source of information for all conferences out there, search capability through text

2. Reminders and notification for following if subscribed
- new conferences for categories
- deadline extensions
- change of conference timing (in times of pandemic like these days)

3. Reminders can be sent through
- emails

[2020-03-22 13:34] sagar-sehgal commented on #40
@poojasrinivass I haven't got any response from you. This was a very small update. I request you to please send a PR corresponding to the issue assigned to you.

[2020-03-22 13:35] rajatkb commented on #60
Feature
- Attach tweeter feed for conferences.
- Bring in twitter data to see if the conference is popular. This will bring in more context to a conference
- rating from user activity on twitter can then be used to even rank conferences.

[2020-03-22 15:28] #54 closed

[2020-03-24 02:55] rajatkb opened #64 "[Bug] categories in conference collection is getting duplicated over multiple runs."
**Describe the bug**
The categories field is getting populated with the same data repeatedly over multiple runs, in the conference collection.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Scrapper-Service using  `python app.py -l debug -ls console  --test True`
2.. Close it using Ctrl-C and run it again.
2. Check conference categories data, you will see the conference data being r

[2020-03-24 09:37] #57 closed

[2020-03-24 12:01] secretshardul commented on #29
Interested working on this for #ggsoc. Thought of using [Python backoff library](https://github.com/litl/backoff). It accepts a give up time parameter so that waiting time does not become infitity.

[2020-03-25 07:43] #37 closed

[2020-03-25 07:45] rajatkb commented on #29
Great you can start working on it then pull a PR for same.

[2020-03-25 12:00] rajatkb opened #65 "[Bug] logger does not accepts unicode character, throws error , breaks the main thread"
**Describe the bug**
Unicode character not getting accepted in Logger

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `app.py`
2. Wait for some time , eventually it will encounter unicode character.and will display unhandled error on the main thread.
3. This blocks the main thread and hard to close without a kill command

**Expected behavior**
Unicode character should not raise such

[2020-03-25 12:12] rajatkb opened #66 "[Feat.] add new stream filters like 'update'/'create'/'replace' etc for ConferenceStream"
**Is your feature request related to a problem? Please describe.**
The current project already has changeStream observer setup against mongo collection. but the getStream() is a standard observer that emits all events. We want a few custom functions like getUpdateStream() , getInsertStream() etc to detect these individual events to attach listeners to,

**Describe the solution you'd like**
Impleme

[2020-03-25 12:35] Aman-Codes opened #67 "Add CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
No CODE_OF_CONDUCT.md file is present.

**Describe the solution you'd like**
@rajatkb   As a GSSOC participant I would like to add a CODE_OF_CONDUCT.md file in this project. Using [this]( https://www.contributor-covenant.org/version/1/4/code-of-conduct.html) as a reference.

**Additional context**
### Screenshots

![code of conduct

[2020-03-25 16:34] sagar-sehgal commented on #40
@manasakalaga Since you have completed one subpart I am assigning you another one.

Add instructions on how to run the Scraper Service in different modes in the` /Scrapper-Service/README.md`.

[2020-03-26 04:32] rajatkb commented on #67
@sagar-sehgal  Please review this one. @Aman-Codes  , I actually removed the Code of Conduct (was following the same format) when laying down the initial format. But I think a code of conduct is more relevant when we have more contributors out in the wild and brewing community. Also the guidelines etc stuff must also be discussed. @anoopsingh1996  @sagar-sehgal  @MahamArif  need you advice on this

[2020-03-26 09:36] manasakalaga opened #68 "Guide 2 Research Scraper needs a redirect method to get pages"
**Is your feature request related to a problem? Please describe.**
Due to the way Guide2Research works, `self.get_page` method in the `Scrapper` base class cannot be used. There has been a discussion about this in #43

**Describe the solution you'd like**
An additional method/modification to the current `get_page` method to allow for redirects

**Describe alternatives you've considered**
There's n

[2020-03-26 09:39] rajatkb commented on #68
@manasakalaga  put the respective PR for it.

[2020-03-26 14:29] secretshardul commented on #29
Please review https://github.com/rajatkb/Conference-Notify/pull/70

[2020-03-27 15:37] rajatkb opened #72 "[Bug] add close method to database and a process exit event handler for calling it."
**Describe the bug**
Currently the database connection is sustained even after the process is killed. With language like python we get destructors which can close the connection when interpreter is closed. But with Node.js we need to tap into the process exit event and close the connection.

Why closing is necessary. Because leaving connection is never safe, It creates unpredictable behaviour from

[2020-03-28 12:47] vipul-aggarwal-099 commented on #72
I am interested with this issue.

[2020-03-28 12:48] vipul-aggarwal-099 commented on #65
I am interested with the issue.

[2020-03-28 12:49] vipul-aggarwal-099 commented on #64
I am interested with the issue.

[2020-03-28 12:50] vipul-aggarwal-099 commented on #7
I need the deadline to 1st April.

[2020-03-29 14:50] #17 closed

[2020-03-29 21:09] rajatkb opened #73 "[Improv.] introduce CORS to the Notifier-Service express application"
**Is your feature request related to a problem? Please describe.**
Current version of the application does not have cors enabled. Which means down the road, frontend application (deployed and served from sepparate server origin ) will not be able to access our api. For this we will need CORS enabled.

**Describe the solution you'd like**
Include cors package and include that in express app , confi

[2020-03-30 18:15] #68 closed

[2020-04-04 14:28] rajatkb commented on #67
@Aman-Codes  you can make a PR for same.

[2020-04-04 14:39] #72 closed

[2020-04-04 17:06] Aman-Codes commented on #67
@rajatkb Sure sir please can you share your email Id where participant can report any unacceptable behavior.

[2020-04-05 08:22] secretshardul commented on #3
So here are the different alternatives
1. **Use MongoDB connector**: Transports data from Mongo to ES. Will need 3 servers(Mongo, ES, MongoDB connector).
2. **Use Logstash for ingestion**: Express makes API calls to Logstash which in turn pushes data to ES. Needs 3 servers. You can make express directly write into ES but thats not a good practice.
3. **Use ElasticSearch as database and remove Mong

[2020-04-05 08:32] secretshardul commented on #53
Redis would be a better fit for this case. This is because your server needs to scale.

For example during peak load your backend scales to a 4 server cluster. With node-cache package each node server will have it's own cache, defeating the purpose of caching. Better have a dedicated Redis server to handle this.

[2020-04-05 09:55] rajatkb commented on #53
* A Reddis will be a overkill for the purpose of storing in memory a few query results that may be repeated often. (trying to reduce network overhead of contacting mongodb)

* Current implementation can be abstracted away with an interface to follow , later if required reddis can be introduced , swaping out the existing implementation.

* Scaling is important but for now a lightweight implementati

[2020-04-05 10:03] rajatkb commented on #3
* Some of the operations require some standard numerical operations and other custom ops which Mongo seems to better suited for use case. ES can slow down the scrapping process (rapid insertion) . As you already mentioned having ES managed is a beast of task itself. That means handling indexes for the inserted data from scrapper.

*

* I have looked into algolia , but having that would require the

[2020-04-05 13:37] secretshardul commented on #3
Should go for Mongodb connector then. If you plan to use AWS, a good alternative can also be as
1. Push scraped data in ```.json``` format into S3.
2. Use Kinesis Firehose(an AWS service for streams) or Logstash(will have to host server) to ingest data into ES

[2020-04-05 15:13] rajatkb commented on #3
* Yup can do. for the ES service , I have not planned the deployment as of yet given being I am trying to avoid paid services. The actual application will be deployed with a Heroku+Atlas Mongo combination.  I am yet to be sure about the ES service.

* The mongo connector option seems to be the most resilient one. I suppose it takes care of consistency of data between mongodb and ES.

[2020-04-06 03:51] #2 closed

[2020-04-11 22:27] anoopsingh1996 opened #85 "[Feat.] Add list of events (all events) layout page."
Show all events list on the when click conference tab.

The list of events shows in the card layout view with separated category heading.

[2020-04-11 22:35] anoopsingh1996 opened #86 "[Feat.] Individual event details page layout."
On clicking any event card view navigate it on details pages of that event.

Here use proper router-based navigation, such that on when clicking the browser forward or backward button session is also mange.

[2020-04-12 13:11] #73 closed

[2020-04-12 19:54] amandhamija98 commented on #86
Hi, I am a gssoc participant and new to this project, may I please be assigned this issue

[2020-04-13 08:58] Kajol-Kumari opened #88 "Edit getOne() method to fetch the particular conference Detail"
**Describe the bug**
Currently getOne() function is fetching the dummy testing conference.

**To Reproduce**
Steps to reproduce the behavior:
write a test file and call getOne() method

**Expected behavior**
getOne() method should have returned a particular conference based on its `id` or any other `PK`

where to look?
Notifier-service/src/services/conference.ts

[2020-04-13 14:31] amandhamija98 commented on #88
Hi may I be assigned

[2020-04-13 15:14] #64 closed

[2020-04-14 15:33] amandhamija98 commented on #88
Hi, I had a doubt, according to what I understood, I have to write a test case for getOne method right?

[2020-04-18 03:48] rajatkb commented on #67
rajatk.dev@gmail.com

[2020-04-18 03:49] #42 closed

[2020-04-18 08:58] abhishekgupta368 commented on #22
I want to work on it.

[2020-04-18 19:23] amandhamija98 commented on #86
Hi, thank you for assigning me,could you please point me to required section of the code base, it would be extremely helpful. Thank you

[2020-04-19 16:07] anoopsingh1996 commented on #86
@amandhamija98 Go User-App section for exploring front-end code.

[2020-04-19 19:21] amandhamija98 commented on #86
Thank you, I will do this

[2020-04-21 11:23] #15 closed

[2020-04-21 13:16] amandhamija98 commented on #86
![image](https://user-images.githubusercontent.com/37807893/79870197-3d356f80-8400-11ea-830e-4d0362d085bd.png)
@anoopsingh1996 , are these the events you are referring to?

[2020-04-23 05:02] #67 closed

[2020-04-23 05:17] #66 closed

[2020-04-28 07:37] Aman-Codes opened #94 "Fix broken links in Readme.md"
**Describe the bug**
@rajatkb @anoopsingh1996 @sagar-sehgal The link to contributing.md and license in readme.md is not working properly. As a GSSOC participant I would like to fix it.

[2020-04-28 07:39] rajatkb commented on #94
Ya sure put a PR for it. Also do put a screenshot of the defective and fixed behaviour.

[2020-04-28 13:15] Aman-Codes commented on #94
@rajatkb @anoopsingh1996 @sagar-sehgal Opened the pull request. Kindly review it.

[2020-04-29 13:09] Rukmini-Meda commented on #36
@rajatkb I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-04-29 14:22] rajatkb commented on #36
The issue is resolved for now. But if you see any improvements can be done in the queries and indexed fields. You can put a PR.

[2020-04-29 18:17] akshaysingh5 commented on #85
I would like to work on this issue, please elaborate.

[2020-04-29 18:19] akshaysingh5 commented on #65
I would like to work on this issue, please elaborate.

[2020-05-07 04:44] rajatkb opened #96 "[Feature] Email Subscription system"
Create a new Controller and endpoint to trigger a mail to the respective, Email provided through the rest end point. So a user would be able to hit the rest end point `/subscribe/email?em=xyz@yl.com` with a payload of filters  and will get updates of whenever new conferences are entered into the system or updates to existing one's are done.

**Describe the solution you'd like**
One hitting the res

[2020-05-07 04:53] rajatkb opened #97 "[Feature] Log in system with JWT/Session"
The system currently needs a login system, which would allow users to register and curate a feed through email or through the frontend application according to themselves. Including setting up reminders of their choice,

**Describe the solution you'd like**
Use Passport or custom implemented solution (Should be properly scrutinised for its security), for enabling user login and creating user ident

[2020-05-07 04:56] #88 closed

[2020-05-07 05:07] #94 closed

[2020-05-08 10:47] abhishekgupta368 commented on #85
Hi, I want to work on this.

[2020-05-09 06:56] rajatkb commented on #65
@akshaysingh5 contact me over slack for this.

[2020-05-09 06:56] #36 closed

[2020-05-09 07:00] #39 closed

[2020-05-11 19:05] #7 closed